:root{
    --hight-size: 60px;
    font-family: consola;
    
}
@font-face {
        font-family: consola;
        src: url('consola-1.ttf');
    }
body{
    min-height: 100vh;
    background-image: url('img4.jpg');
    background-size: cover;
    color: rgb(27, 27, 27);
    overflow: hidden;
}
/*--导航--*/
.nav{
    width: 100%;
    height: var(--hight-size);
    background-color: rgba(240, 248, 255, 0.534);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
    /*导航内元素*/
    .nav-s{
        width: 30%;
    }
}
/*--Button*/
.menu{
    display: none;
    width: 250px;
    background-color: #ffffffe7;
    border-radius: 6px;
    transform: translate(-35%,14px);
    padding: 5px;
}
.btn-box{
    min-width: 10px;
    min-height: 30px;
    transform: translate(0,-8px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    transition: .2s;
    margin: 2px;
}
[open]{
    width: 72px;
    height: 40px;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    text-align: center;
    border:1px solid rgba(155, 158, 161, 0);
    transition: .2s;
    margin: 2px;
}
[open]:hover{
    background-color: black;
    color: aliceblue;
    fill: #fff;
}
[open]:hover .btn-box .menu {
    display: block;
}
.btn-lr{
    width: 90%;
    height: 50px;
    background-color: rgba(201, 201, 201, 0.466);
    border-radius: 4px;
    border:1px solid rgba(37, 111, 184, 0);
    transition: .2s;
    margin: 2px;
    margin-top: 10px;
    font-size: 12pt;
}
.btn-lr:hover{
    background-color: rgb(50, 115, 255);
    color: aliceblue;
}
.btn-link{
    display: block;
    margin-top: 4px;
    padding:3.8% 34%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.205);
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: .1s;
    letter-spacing: 3px;
}
.btn-link:hover{
    background-color: black;
    color: aliceblue;
}
/*--内容--*/
.content{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: var(--hight-size);
    left: 0;
    z-index: 1;
    h2[fontSize-title]{
            color: rgba(243, 243, 243, 0.726);
            font-size:66px;
            font-weight: 100;
        }
    h4[fontSize-text]{
            color: rgba(240, 248, 255, 0.692);
            font-size: 25px;
            text-align: center;
            font-weight: 100;
    }
}
/*--Login--*/
.login {
    width: 340px;
    height: 500px;
    background: #a7a7a79d;
    backdrop-filter: blur(6px);
    padding: 47px;
    padding-bottom: 57px;
    color: #fff;
    border-radius: 17px;
    padding-bottom: 50px;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 90%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #cccccc;
    color: #272727;
  }
  
  .login input:focus {
    animation: bounce 1s;
    -webkit-appearance: none;
  }
  
  .login input[type=submit],
  .login input[type=button],
  .h1 {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 13px;
    margin: 20px 0 0 0;
    border-radius: 500px;
    font-weight: 600;
    animation: bounce2 1.6s;
  }
  
  .h1 {
    padding: 0;
    position: relative;
    top: -35px;
    display: block;
    margin-bottom: -0px;
    font-size: 1.3em;
  }
  
  .btn {
    background-color: #3d91ff;
    color: #fff;
    padding: 16px !important;
    transition: all 0.4s ease;
  }
  
  .btn:hover {
    background-color: rgb(240, 239, 239);
    color: rgb(0, 0, 0);
    padding: 16px !important;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .login input[type=text] {
    animation: bounce 1s;
    -webkit-appearance: none;
  }
  
  .login input[type=password] {
    animation: bounce1 1.3s;
  }
  
  .ui {
    font-weight: bolder;
    background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
    border-image-slice: 1;
    display: inline;
  }
  
  .box-mini{
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    #message{
        font-size: 15px;
        margin-left: 1%;
    }
  }
  @media only screen and (max-width: 600px) {
    .login {
      width: 70%;
      padding: 3em;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-250px);
      opacity: 0;
    }
  }
  
  @keyframes bounce1 {
    0% {
      opacity: 0;
    }
  
    40% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
  
  @keyframes bounce2 {
    0% {
      opacity: 0;
    }
  
    70% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
/*--媒体查询--*/
@media screen and (max-width:740px) {
    .menu{
        display: none;
        width: 70vw;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.925);
        border-radius: 6px;
        transform: translate(-50vw,14px);
    }
    .content{
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('img4.jpg');
        background-size: cover;
        top: var(--hight-size);
        left: 0;
        z-index: 1;
        h2[fontSize-title]{
                color: rgba(243, 243, 243, 0.897);
                font-size:34px;
                transform: translate(-1%);
            }
        h4[fontSize-text]{
                color: rgba(240, 248, 255, 0.774);
                font-size: 25px;
                transform: translate(-1%);
                text-align: center;
        }
    }

    /*--内容--*/
.content{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: var(--hight-size);
    left: 0;
    z-index: 1;
    h2[fontSize-title]{
            color: rgba(243, 243, 243, 0.726);
            font-size:66px;
            font-weight: 100;
        }
    h4[fontSize-text]{
            color: rgba(240, 248, 255, 0.692);
            font-size: 25px;
            text-align: center;
            font-weight: 100;
    }
}
}