<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRA Studio</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/horsezaos.css">
</head>
<body>
    <!--Navbar-->
    <div class="nav">
     <h2>CRA Studio</h2>
     <div class="nav-s"><!--分割盒子--></div>
     <h1 open>
        <svg 
        clip-rule="evenodd" 
        fill-rule="evenodd" 
        stroke-linejoin="round" 
        stroke-miterlimit="2" 
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg" 
        width="30px" 
        height="40px">
            <path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z"/>
          </svg>
          
     <div class="btn-box">
        <div class="menu">
            <a href="#" class="btn-link">首页</a>
            <a href="#" class="btn-link">接入文档</a>
            <a href="#" class="btn-link">关于</a>
    <button class="btn-lr">登陆</button>
    <button class="btn-lr">注册</button>
    </div>
  </div>
</h1>

</div>
    <!--内容-->
    <div class="content"> 
        <h2 fontSize-title>一切献给，委员会</h2>
       <br> 
        <h4 fontSize-text>「我来编程、我来调试、我来打造卓越的游戏体验」
            <br>「我任凭技术挑战拨转轮盘，全力以赴。历经艰难困境而后成就辉煌」
            <br> 一切献给，委员会
        </h4>

    </div>
</body>
</html>